<!DOCTYPE html>
<html lang="en">

<head>
	<%- include("parts/head"); %>
	<title>Carbonado // API</title>
</head>

<body>
	<div class="mx-0 bg-gray">
	<%- include("parts/topbar"); %>
		<h1 class="display-1 text-center text-white mt-5">Carbonado API</h1>
		<h1 class="display-5 text-center text-white mb-1">Accessing Blockchain Data</h1>
		<div class="container-fluid bg-warning my-5 py-3"></div>
	</div>

	<div class="my-5 py-5"></div>
	<div class="my-3 py-3"></div>

	<div class="container-fluid bg-gray mt-5 pt-3 pb-5 text-dark">
		<div class="row mx-1 mb-4 text-center">
			<h1 class="display-4 text-white">Getting Started</h1>
			<h4 class="text-white">
				To access the API, you need to send a GET request to
				one of this server's API paths. You could always run
				your own API using the public blockchain, but I
				decided to simplify the process for you.
				<i class="bi bi-emoji-smile"></i><br>
				This process should be self-explanatory for most of you,
				but just in case you're new to programming, here are 4 examples.
			</h4>
		</div>
		<div class="row my-2">
			<div class="col"><div class="container col-12 bg-warning py-5">
				<h1 class="display-6 text-center">NodeJS</h1>
				<div class="container codebox">
<!-- If you couldn't tell, I'm an expert at writing terrible code -->
<pre><code>
<span syn4>// Adapted from NodeJS.dev</span>
<span syn1>const</span> https = require(<span syn2>"https"</span>);
<span syn1>const</span> options = {
	hostname: <span syn2>"carbonado.tk"</span>,
	port: <span syn3>443</span>,
	path: <span syn2>"/api/seeds"</span>,
	method: <span syn2>"GET"</span>
}

<span syn1>const</span> req = https.request(options, (res) => {
	res.on(<span syn2>"data"</span>, (d) => {
		console.log(d);
	});
});

req.on(<span syn2>"error"</span>, (error) => {
	console.error(error);
});

req.end()
</code></pre>
				</div>
			</div></div>
			
			<div class="col"><div class="container col-12 bg-warning py-5">
				<h1 class="display-6 text-center">Python</h1>
				<div class="container codebox">
<pre><code>
<span syn4># Adapted from Nylas</span>
<span syn1>import</span> requests
data = requests.<span syn3>get</span>(<span syn2>"https://carbonado.tk/api/seeds"</span>)
<span syn3>print</span>(data.<span syn3>json</span>())
</code></pre>
			</div>
		</div>

		<div class="container col-12 bg-warning py-5 mt-4">
				<h1 class="display-6 text-center">PowerShell</h1>
				<div class="container codebox">
<pre><code>
<span syn4># Doing it the Microsoft Way™</span>
<span syn3>Invoke-WebRequest</span>(<span syn2>"https://carbonado.tk/api/seeds"</span>).Content
</code></pre>
			</div>
		</div>

		<div class="container col-12 bg-warning py-5 mt-4">
				<h1 class="display-6 text-center">Bash</h1>
				<div class="container codebox">
<pre><code>
<span syn4># Nice and simple :)</span>
<span syn1>curl</span> https://carbonado.tk/api/seeds
</code></pre>
			</div>
		</div>
		
		</div> <!-- second column end -->
	</div>


	<!-- Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>