<!DOCTYPE html>
<html lang="en">

<head>
	<%- include("parts/head"); %>
	<title>Carbonado // Home</title>
</head>

<body>
	<div class="mx-0 bg-gray">
	<%- include("parts/topbar"); %>
		
		<h1 class="display-1 text-center text-white mt-5">Carbonado API</h1>
		<h1 class="display-4 text-center text-white mb-1">Getting Started</h1>
		<h2 class="display-6 text-center text-white mb-5">
			<span id="homepage-edited-text">
				<noscript>An NFT-first blockchain implementation</noscript>
			</span>
		</h2><div class="container-fluid bg-warning my-5 py-3"></div>
	</div>

	<div class="my-5 py-5"></div>
	<div class="my-3 py-3"></div>

	<div class="container-fluid bg-gray mt-5 pt-3 pb-5 text-dark">
		<div class="row mx-5 mb-4 text-center">
			<h1 class="display-4 text-white">Hey!</h1>
			<h4 class="text-white">
				To access the API, you need to send a GET request to
				one of this server's API paths. You could always run
				your own API using the public blockchain, but I
				decided to simplify the process for you.
				<i class="bi bi-emoji-smile"></i><br>
				This process should be self-explanatory for most of you,
				but just in case you're new to programming, here are 4 examples.
			</h4>
		</div>
		<div class="row my-2">
			<div class="col-sm bg-warning mx-4 py-5">
				<h1 class="display-6 text-center">NodeJS</h1>
				<div class="container">
<pre class="ft-syntax-highlight" data-syntax="javascript"><code>console.log("Hi");
<span class="comment">console.log("Hi, again!");</span>
console.log("Hi");
console.log("Hi, again!");
console.log("Hi");
console.log("Hi, again!");
console.log("Hi");
console.log("Hi, again!");
</code></pre>
				</div>
			</div>
			<div class="col-sm bg-warning mx-4 py-5">
				<h1 class="display-6 text-center">Python</h1>
				<h4>Test description words words words words</h4>
			</div>
		</div>
	</div>


	<!-- Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>