<!DOCTYPE html>
<html lang="en">

<head>
	<%- include("parts/head"); %>
	
	<title>Carbonado // Home</title>
</head>

<body>
	<div class="mx-0 bg-gray">
	<%- include("parts/topbar"); %>
		
		<h1 class="display-1 text-center text-white mt-5">Carbonado</h1>
		<h1 class="display-4 text-center text-white mb-1">($NADO)</h1>
		<h2 class="display-6 text-center text-white mb-5">
			<span id="homepage-edited-text">
				<noscript>An NFT-first blockchain implementation</noscript>
			</span>
			<span class="cursored"></span></h2>
		<div class="container-fluid bg-warning my-5 py-3"></div>
	</div>

	<div class="my-5 py-5"></div>
	<div class="my-3 py-3"></div>

	<div id="frag-about" class="container-fluid bg-gray mt-5 pt-3 pb-5 text-dark">
		<div class="row mx-2 mb-4 text-center">
			<h1 class="display-4 text-white">Hey!</h1>
			<h4 class="text-white">
				Are you interested in owning a slice
				of the Carbonado platform? Well, too bad!
				It's currently in development and most stats
				get reset constantly to make it easier for me
				to write new code and push updates.
				If you still wish you could mine some Carbonado,
				here's what you might be able to have in the future.
			</h4>
		</div>
		<div class="row my-2 text-center">
			<div class="col"><div class="container col-12 bg-warning py-5">
				<i class="bi bi-activity features-icon"></i>
				<h1 class="display-6">Versatility</h1>
				<h4>Carbonado has many applications, and can
				be used in lots of online networks such as
				games, stores, social media, and more! Since
				the currency was designed with tokens, NFTs,
				and other digital assets in mind, it's easier
				to host your own digital objects on the blockchain.</h4>
			</div></div>
			<div class="col"><div class="container col-12 bg-warning py-5">
				<i class="bi bi-basket2-fill features-icon"></i>
				<h1 class="display-6">Decentralized</h1>
				<h4>The new Carbon algorithm enforces different levels of mining
				on every block, ensuring that everyone has a chance to validate blocks.
				This could make 51% attacks harder than other currencies once more people
				start mining Carbonado. Unlike the original draft of Carbon, however,
				this means block times may be long if all the miners are busy.</h4>
			</div></div>
			<div class="col"><div class="container col-12 bg-warning py-5">
				<i class="bi bi-bug features-icon"></i>
				<h1 class="display-6">Open-Source</h1>
				<h4>Most cryptocurrency devs make their code open-source,
				and I'm no exception! You can see the code
<a href="https://github.com/Lamby777/Carbonado-coin">here</a>.
				This website's terrible spaghetti-code is
<a href="https://github.com/Lamby777/Carbonado.tk">also</a>
				hosted on GitHub as open-source. Open-source code
				is more secure, because white-hats can analyze
				the code and make pull requests for their solutions
				to vulnerabilities.
				</h4>
			</div></div>
		</div>
		<div id="frag-faq" class="row container mx-auto my-5">
			<h1 class="display-4 text-white text-center mb-4">Frequently Asked Questions</h1>
			<h2 class="text-white">
				<span class="float-start">- How does it work?</span><br>
				<span class="text-warning float-end mb-4">- Carbonado is
				a platform for different tokens. You can have multiple
				currencies, tokens, NFTs, and similar things on here,
				but the main currency is Carbonado.
				</span>

				<span class="float-start">- What can I do with it?</span><br>
				<span class="text-warning float-end mb-4">- Well, that's
				subjective. You can use this like any other blockchain
				currency. You can trade it, you can mine it, and you
				can write code to manage it.</span>

				<span class="float-start">- What is it made with?</span><br>
				<span class="text-warning float-end mb-4">- Carbonado's
				protocols are written in NodeJS. Some may consider
				it a bloated language, especially compared to C++
				or other low-level languages, but I enjoy writing
				in NodeJS and I don't really think a few milliseconds
				matters for this type of platform. At least it's
				better than using Python
				<i class="bi bi-emoji-smile"></i></span>

				<span class="float-start">- Is it UTXO-based or Account-based?</span><br>
				<span class="text-warning float-end mb-4">
				- Carbonado is a UTXO-based blockchain. This was one of my most difficult 
				decisions, since Account is a lot easier to implement, but UTXO is more secure
				and easier to track. I don't want people "generating" random Carbonado
				and causing mass inflation!</span>

				<span class="float-start">- Who uses it?</span><br>
				<span class="text-warning float-end mb-4">- Literally
				nobody. You shouldn't be putting so much trust in some
				random 10th grader's currency. This project is only
				half-serious, and I don't expect it to become too
				popular. I'm not a scammer, but there's always
				the risk of me making a mistake and some error
				screwing up the platform.</span>
			</h2>
		</div>
	</div>

	<%- include("parts/footer"); %>


	<!-- Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<script src="typewrite.js"></script>
</body>

</html>